<html>
  <head>
    <title>Demo</title>
  </head>
  
  <body>
    <div id="app">
      <!-- [[ plot ]] -->
    </div>
  </body>

  <!-- import Vue.js -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  <!-- import d3.js -->
  <script src="https://d3js.org/d3.v3.min.js"></script>
  <script>
    const plot = {{ plot|tojson }}

    var app = new Vue({
      el: '#app',
      delimiters: ['[[', ']]'],
      data: {
        plot,
      },

      mounted() {
        this.draw()
      },

      methods: {
        draw() {
          const data = this.plot
          const [minX, maxX] = data.reduce((a, b) => [Math.min(a[0], b[0]), Math.max(a[1], b[0])], [Infinity, -Infinity])
          const [minY, maxY] = data.reduce((a, b) => [Math.min(a[0], b[1]), Math.max(a[1], b[1])], [Infinity, -Infinity])
          const fakeBoobs = 50
          const width = (maxX - minX) * fakeBoobs
          const height = (maxY - minY) * fakeBoobs
          const padding = 20

          const svg = d3.select("body")
                      .append("svg")
                      .attr("width", width + padding*2)
                      .attr("height", height + padding*2)
                      .style({
                        'border':'1px solid #000',
                      })

          svg.selectAll("circle")
            .data(data).enter()
            .append("circle")
            .attr("cx", d => padding + (d[0] - minX) * fakeBoobs)
            .attr("cy", d => padding + (d[1] - minY) * fakeBoobs)
            .attr("r", 1 * fakeBoobs/10)
        },
      },
    });
  </script>
</html>