<html>
  <head>
    <title>Demo</title>
  </head>
  
  <body>
    <div id="app">
      <h1>[[ post.article_title ]]</h1>
      <ul>
        <li>[[ post.author ]]</li>
        <li>[[ post.board ]]</li>
        <li>[[ post.date ]]</li>
        <li>[[ post.ip ]]</li>
        <li>推/噓/回：[[ post.message_count.push ]]/[[ post.message_count.boo ]]/[[ post.message_count.neutral ]]</li>
      </ul>
      <p>[[ post.content ]]</p>
      <div
        v-for="({push_tag, push_userid, push_ipdatetime, push_content}, index) in post.messages"
        style="margin-top: 20px;"
      >
        <p>[[ index ]] 樓 [[ push_tag ]] [[ push_userid ]] [[ '\t' + push_content + '\t' ]] [[ push_ipdatetime ]]</p>
      </div>
    </div>
  </body>

  <!-- import Vue.js -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  <!-- import d3.js -->
  <script src="https://d3js.org/d3.v3.min.js"></script>
  <script>
    const post = {{ post|tojson }}

    var app = new Vue({
      el: '#app',
      delimiters: ['[[', ']]'],
      data() {
        return {
          post,
        }
      },
    });
  </script>
</html>